*{
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100% !important;

}

main {
  flex-shrink: 1 !important;
  flex-grow: 1 !important;
  flex-basis: auto !important;
  background-color: red;
}